<ion-view id="dashboard" view-title="Dashboard">
  <ion-content class="padding">

    <h1>Upcoming Tournaments</h1>

    <div class="list card">
      <a class="item item-icon-left item-icon-right"
         ng-click="ctrl.click(t.id)"
         ng-repeat="t in ctrl.tourneys">
        <span class="start-date">
          <span class="icon month">
            {{ t.startDate | amDateFormat:'MMM' }}
          </span>
          <span class="icon day">
            {{ t.startDate | amDateFormat:'DD' }}
          </span>
          <span class="icon year">
            {{ t.startDate | amDateFormat:'YYYY' }}
          </span>
        </span>
        <h2 class="title">{{ t.name }}</h2>
        <div class="location">{{ t.location }}</div>
        <div class="meta">
          {{ t.startDate | amDateFormat:'MMMM DD' }}
          - {{ t.endDate | amDateFormat:'MMMM DD, YYYY' }}
          <span class="team" ng-show="t.teamTourney">• Team Tourney</span>
          <span class="types">• Fish Types:
            <span class="type" ng-repeat="type in t.fishTypes">{{ type }}</span>
          </span>
        </div>
        <div class="fee">Angler Entry Fee: {{ t.entryFee }}</div>
        <i ng-if="t.id === 1" class="icon ion-chevron-right"></i>
        <i ng-if="t.id === 2" class="icon ion-compose"></i>
      </a>
    </div>
  </ion-content>
</ion-view>
