<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-dark">

  <!-- Tourney Tab -->
  <ion-tab title="Tourney" icon="ion-trophy" href="#/tab/tourney">
    <ion-nav-view name="tab-tourney"></ion-nav-view>
  </ion-tab>

  <!-- Submit Tab -->
  <ion-tab title="Submit" icon="ion-camera" href="#/tab/submit">
    <ion-nav-view name="tab-submit"></ion-nav-view>
  </ion-tab>

</ion-tabs>
